# Heroes of Pymoli Analysis
#### Summary
(fill this in after)

In [1]:
#set up
import pandas as pd
#file
file = "Resources/purchase_data.csv"
#read file
heroes_data = pd.read_csv(file)

In [2]:
#preview of heroes_data
heroes_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# player count

In [3]:
#create series of SN
players = heroes_data["SN"]
#create player count variable by .value_counts all SN
player_count = len(players.value_counts())
player_count

576

In [4]:
#display player count
player_count_frame = pd.DataFrame({'Player Count': [player_count]})
player_count_frame

   Player Count
0           576

# Gender Demographics

In [5]:
#number of unique items (success)
items_name = heroes_data["Item Name"]
items_count = len(items_name.value_counts())
items_count

179

In [6]:
#total rev (success)
item_price = heroes_data["Price"]
total_rev = sum(item_price)
total_rev = round(total_rev,2)
total_rev

2379.77

In [7]:
#total number of purchase (success)
ID_list = heroes_data['Purchase ID'].to_list()
total_purchase = len(ID_list)
total_purchase

780

In [8]:
#average price (success)
average_purchase_price = (total_rev / total_purchase)
average_purchase_price = round(average_purchase_price, 2)
average_purchase_price

3.05

In [9]:
#create dataframe for purchasing analysis (success)
purchase_frame = ({'Number of Unique Items': [items_count], 
                   'Avg. Purchase Price ($)': [average_purchase_price], 
                   'Total number of purchases': [total_purchase], 
                   'Total Revenue ($)': [total_rev]})
purchase_analysis = pd.DataFrame(purchase_frame)
purchase_analysis

,Number of Unique Items,Avg. Purchase Price ($),Total number of purchases,Total Revenue ($)
0,179,3.05,780,2379.77

# Gender Demographics

In [10]:
#create gender & player name delete repeated names
gender_count = heroes_data[["Gender","SN",]]
gender_count = gender_count.drop_duplicates(subset='SN')
gender_count

     Gender             SN
0      Male        Lisim78
1      Male    Lisovynya38
2      Male     Ithergue48
3      Male  Chamassasya86
4      Male      Iskosia90
..      ...            ...
773    Male         Hala31
774    Male     Jiskjask80
775  Female     Aethedru70
777    Male     Yathecal72
778    Male        Sisur91

[576 rows x 2 columns]

In [11]:
#values count for each individual gender
Gender = gender_count["Gender"]
Gender.value_counts()
#Gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [12]:
# create variables for male, female, other .count()
males = gender_count.loc[gender_count["Gender"]=="Male","Gender"].count()
females = gender_count.loc[gender_count["Gender"]=="Female","Gender"].count()
other = gender_count.loc[gender_count["Gender"]=="Other / Non-Disclosed", "Gender"].count()

In [13]:
# create variables for each individual gender percentages

#male
male_percentage = (males/ player_count)* 100
male_percentage = round(male_percentage,2)
male_percentage

#female
female_percentage = (females/player_count)*100
female_percentage = round(female_percentage,2)

#other
other_percentage = (other/player_count)*100
other_percentage = round(other_percentage,2)

In [14]:
#gender demographics analysis dataframe
gender_frame = ({"gender":["Males", "Females", "Other"], 
                "Total Count": [males, females, other],
                "Percentage of Players": [male_percentage, female_percentage, other_percentage]})
gender_dem_analysis = pd.DataFrame(gender_frame)
gender_dem_analysis

    gender  Total Count  Percentage of Players
0    Males          484                  84.03
1  Females           81                  14.06
2    Other           11                   1.91

# Purchasing Analysis (Gender)

In [15]:
#purchase analysis per gender

#create df for purchases
total_purchase_df = heroes_data[['SN', 'Gender', 'Price']]
total_purchase_df

                SN  Gender  Price
0          Lisim78    Male   3.53
1      Lisovynya38    Male   1.56
2       Ithergue48    Male   4.88
3    Chamassasya86    Male   3.27
4        Iskosia90    Male   1.44
..             ...     ...    ...
775     Aethedru70  Female   3.54
776         Iral74    Male   1.63
777     Yathecal72    Male   3.46
778        Sisur91    Male   4.19
779      Ennrian78    Male   4.60

[780 rows x 3 columns]

In [16]:
#male purchase count variable
male_purchase_count = total_purchase_df.loc[total_purchase_df["Gender"]=="Male","Gender"].count()

#female purchse count variable
female_purchase_count = total_purchase_df.loc[total_purchase_df["Gender"] == "Female", "Gender"].count()

#other purchase count variable
other_purchase_count = total_purchase_df.loc[total_purchase_df["Gender"]=="Other / Non-Disclosed", "Gender"].count()

In [17]:
#averages per gender
#variable "total_purchase" already exists
average_male_purchases = (male_purchase_count/total_purchase)*100

average_female_purchases = (female_purchase_count/total_purchase)*100

average_other_purchases = (other_purchase_count/total_purchase)*100

In [18]:
#purchase value per gender
male_purchase_df = total_purchase_df.loc[total_purchase_df["Gender"]=="Male",:]
male_purchase_price_list = male_purchase_df["Price"]
male_purchase_total_value = sum(male_purchase_price_list)

female_purchase_price_list = total_purchase_df.loc[total_purchase_df["Gender"]=="Female","Price"]
female_purchase_total_value = sum(female_purchase_price_list)

other_purchase_price_list = total_purchase_df.loc[total_purchase_df["Gender"]=="Other / Non-Disclosed","Price"]
other_purchase_total_value = sum(other_purchase_price_list)
other_purchase_total_value = round(other_purchase_total_value,2)

In [19]:
#sum up spent per gender

male_total_spent = sum(male_purchase_price_list)
round(male_total_spent,2)

female_total_spent = sum(female_purchase_price_list)
round(female_total_spent,2)

other_total_spent = sum(other_purchase_price_list)
round(other_total_spent,2)

50.19

In [20]:
#average purchase price per gender
male_average_purchase_price = (male_total_spent/male_purchase_count)
male_average_purchase_price = round(male_average_purchase_price,2)

female_average_purchase_price = (female_total_spent/female_purchase_count)
female_average_purchase_price = round(female_average_purchase_price,2)

other_average_purchase_price = (other_total_spent/other_purchase_count)
other_average_purchase_price = round(other_average_purchase_price,2)

In [21]:
#Avg Total Purchase per Person

In [22]:
#purchasing analysis (gender)
purchase_gender_frame = ({"gender":["Males", "Females", "Other"],
                          "Number of players": [males, females, other],
                          "purchase count": [male_purchase_count, female_purchase_count, other_purchase_count],
                          "average purchase price ($)": [male_average_purchase_price, female_average_purchase_price, other_average_purchase_price],
                         "total purchase value ($)":[male_total_spent, female_total_spent, other_total_spent]})
#df .apply need to learn still
#df['$/hour'] = df.apply(lambda x: x['$'] if x['$'] < 1 else x['$']/x['hours'], axis=1)
purchase_gender_dem_analysis = pd.DataFrame(purchase_gender_frame)
purchase_gender_dem_analysis["Average Total Purchase per Person"] = purchase_gender_dem_analysis["total purchase value ($)"] / purchase_gender_dem_analysis["Number of players"]
purchase_gender_dem_analysis

,gender,Number of players,purchase count,average purchase price ($),total purchase value ($),Average Total Purchase per Person
0,Males,484,652,3.02,1967.64,4.065372
1,Females,81,113,3.20,361.94,4.468395
2,Other,11,15,3.35,50.19,4.562727

# Age demographics

In [23]:
#create age data frame
age_df = heroes_data[["Age", "SN", "Price"]]

In [24]:
age_list = age_df["Age"]
print(max(age_list))
print(min(age_list))

45
7

In [25]:
#create 5 bins by age
bin1_count = age_df.loc[age_df["Age"] < 12, "Age"].count()
bin2_count = age_df.loc[(age_df["Age"]>= 12 | age_df["Age"])< 18,"Age"].count()
bin3_count = age_df.loc[(age_df["Age"]>= 18 | age_df["Age"])<25,"Age"].count()
bin4_count = age_df.loc[(age_df["Age"]>= 25 | age_df["Age"])<35,"Age"].count()
bin5_count = age_df.loc[age_df["Age"]>= 35,"Age"].count()

In [26]:
#df per age by bin
bin1_purchase_df = age_df.loc[age_df["Age"]<12,:]
bin2_purchase_df = age_df.loc[(age_df["Age"]>= 12 | age_df["Age"])< 18,"Age"]
bin3_purchase_df = age_df.loc[(age_df["Age"]>= 18 | age_df["Age"])<25,"Age"]
bin4_purchase_df = age_df.loc[(age_df["Age"]>= 25 | age_df["Age"])<35,"Age"]
bin5_purchase_df = age_df.loc[age_df["Age"]>= 35,"Age"]

In [27]:
#add total rev per bin (not working)
bin1_total = sum(bin1_purchase_df["Price"])
bin2_total = sum(bin2_purchase_df["Price"])
bin3_total = sum(bin3_purchase_df["Price"])
bin4_total = sum(bin4_purchase_df["Price"])
bin5_total = sum(bin5_purchase_df["Price"])

KeyError: 'Price'

# top spender